.table-row {
    clear: both;

    &:last-child .game-square {
        border-bottom: none;
    }
}

.game-controls {
    margin-bottom: 20px;
}

.game-square {
    cursor: pointer;
    float: left;
    width: 100px;
    height: 100px;
    text-align: center;
    color: #999999;
    border-right: 10px solid black;
    border-bottom: 10px solid black;
    overflow: hidden;

    &:hover {
        background-color: #efefef;
    }

    &:last-child {
        border-right: none;
    }

    &.x {
        font-size: 100px;
        line-height: 111px;
        cursor: default;

        &:hover {
            background-color: #fff;
        }
    }

    &.o {
        line-height: 100px;
        font-size: 177px;
        cursor: default;

        &:hover {
            background-color: #fff;
        }
    }

    &.green {
        color: #0C860C;
    }
}
