.table-row {
    width: 153px;

    &:last-child {
        .third {
            border-bottom: none;
        }
    }
}

.third {
    float: left;
    width: 50px;
    height: 50px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;

    &:last-child {
        border-right: none;
    }


    &.x:before {
        content: '✖';
    }

    &.o:before {
        content: '○';
    }
}